/*Typography*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Colors*/
    --light-pink: hsl(275, 100%, 97%);
    --white: hsl(0, 0%, 100%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);

    /*Sizes*/
    --fs-xs: 0.875rem;
    --fs-s: 1rem;
    --fs-m: 1.125rem;
    --fs-l: 1.25rem;
    --fs-xl: 3.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-repeat: repeat-x;
    background-color: var(--light-pink);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.2);
}

h1 {
    font-size: var(--fs-xl);
    margin-left: 1.2rem;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.question h2 {
    font-size: 1.2rem;
}

.question:hover h2 {
    color: var(--grayish-purple);
    cursor: pointer;
}

.answer {
    padding: 1rem;
    background-color: var(--white);
    color: grey;
    border-radius: 5px;
    display: none;
}

.answer p {
    font-size: 1rem;
}

.question img {
    width: 2rem;
    height: 2rem;
}

.question.active {
    background-color: var(--white);
}

.question.active img {
    transform: rotate(180deg);
}

.question.active + .answer {
    display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .question h2 {
        font-size: 1rem;
    }
    .answer p {
        font-size: 0.9rem;
    }
    .question img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
