/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Variables */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    /* Font Size Variables */
    --fs-xs: 0.875rem; /* Equivalent to 14px */
    --fs-s: 1rem; /* Equivalent to 16px */
    --fs-m: 1.125rem; /* Equivalent to 18px */
    --fs-l: 1.25rem; /* Equivalent to 20px */
    --fs-xl: 2rem; /* Equivalent to 32px */
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: var(--White);
    width: 90%;
    max-width: 300px;
    /* min-height: 450px; */
    padding: 0.8rem;
    text-align: center;
    border-radius: 5%;
}

main > img {
    width: 100%;
    max-width: 300px;
    border-radius: 5%;
}

main > h2 {
    color: var(--Dark-blue);
    margin-bottom: var(--fs-xs);
    font-size: var(--fs-m);
    padding-top: var(--fs-s);
}

main > p {
    color: var(--Grayish-blue);
    font-weight: 400;
    font-size: var(--fs-xs);
    padding-bottom: var(--fs-s);
}

/* Add media query for smaller screens */
@media only screen and (max-width: 600px) {
    main {
        max-width: 50%;
    }
}
