/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Variables */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    /* Font Size Variables */
    --fs-xs: 0.875rem;
    --fs-s: 1rem;
    --fs-m: 1.125rem;
    --fs-l: 1.25rem;
    --fs-xl: 2rem;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}

main {
    max-width: 500px;
    background-color: var(--White);
    display: flex; /* Change grid to flex */
    /* flex-wrap: wrap; Enable wrapping for responsive layout */
    justify-content: center; /* Horizontally center the content */
    /* gap: 2rem; Add a gap between .product and .description */
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.1);
/*     margin: auto;
    margin-top: 1.5rem; */
    border-radius: 10px;
    overflow: hidden;
}

main .product {
    display: grid;
    place-items: center;
    text-align: center;
    flex: 1 0 50%;
}

main .description {
    /* Styles for .description section */
    background-color: var(--White);
    padding: 1.5rem;
    flex: 1 0 50%; /* Allow flex item to grow, but maintain a minimum width of 300px */
}

.product_heading {
    font-size: var(--fs-xs);
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 1rem 0rem;
}

.product_title {
    font-size: var(--fs-xl);
    font-family: 'Fraunces';
    font-weight: 700;
}

.product img {
    height: 100%;
    max-width: 100%;
}

main p {
    padding: 1rem 0rem;
    font-family: 'Montserrat';
    color: var(--Dark-grayish-blue);
    font-size: var(--fs-s);
    margin-right: 1.5rem;
    font-weight: 500;
}

main p span {
    display: block;
    word-spacing: 0rem;
    width: max-content;
}

.pricing {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    gap: 2rem;
}

.price {
    font-size: var(--fs-xl);
    font-family: 'Fraunces';
    font-weight: 700;
    color: var(--Dark-cyan);
}

.promotion {
    font-size: var(--fs-xs);
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

button {
    width: 225px;
    min-height: 50px; /* Use min-height instead of height */
    padding: auto; /* Add some padding around the button text */
    color: var(--Cream);
    background-color: var(--Dark-cyan);
    border: 0;
    cursor: pointer; /* Add a cursor property to indicate clickability */
    margin-top: 1rem;
    border-radius: 10px;
}
